In [62]:
from pandas import DataFrame,Series
import numpy as np

In [63]:
d = {
    'one':Series([1,2,3], index=['a','b','c']),
    'two':Series([1,2,3,4], index=['a','b','c','d'])
    }

In [67]:
df = DataFrame(d)

In [68]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [73]:
df.apply(np.mean)

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

</br>Before pass the new example reremember map

In [18]:
#map(function_to_apply,list_of_inputs)
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(squared)

[1, 4, 9, 16, 25]

In [19]:
squared.clear()
#same operation with map
squared = list(map(lambda x: x**2, items))
print(squared)

[1, 4, 9, 16, 25]

Now use map with dataframe

In [21]:
# apply map just one function
df['one'].map(lambda x: x>=1)

a     True
b     True
c     True
d    False
Name: one, dtype: bool

In [22]:
# apply map all column
df.applymap(lambda x: x>=1)

     one   two
a   True  True
b   True  True
c   True  True
d  False  True

# Exercise with numpy mean

In [45]:
def avg_medal_count():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':Series(countries),
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}
    df = DataFrame(olympic_medal_counts)
    
    at_least_one_gold = df[df['gold']>=1]
    avg_bronze_at_least_one_gold = np.mean(at_least_one_gold['bronze'])
    
    return avg_bronze_at_least_one_gold

In [46]:
avg_medal_count()

4.238095238095238

# Exercise with dataframe apply method

In [86]:
def avg_medal_count():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':Series(countries),
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}
    df = DataFrame(olympic_medal_counts)

    at_least_one_medal = df[(df.gold >= 1) & (df.gold >= 1) & (df.gold >= 1)]
    avg_medal_count = at_least_one_medal[at_least_one_medal.columns[1:]].apply(np.mean)
    #or I can use as
    print(at_least_one_medal[['gold','silver','bronze']].apply(np.mean))
    return avg_medal_count

In [87]:
#printting result
x = avg_medal_count()

gold      4.714286
silver    4.285714
bronze    4.238095
dtype: float64

In [89]:
#reaching column result
x

gold      4.714286
silver    4.285714
bronze    4.238095
dtype: float64